.footer {
  height: 55px;
  background-color: #353d47;
  color: #f0f8ff;
  padding: 15px;
  display: flex;
  justify-content: center;
  // position: relative;
  // left: 0;
  // bottom: 0;
  a {
    color: #0092a0;
  }
}
